/* Imagen destacada */
.entrada-img {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  border-radius: 12px;
}

/* Texto base destacado */
.texto-base {
  font-weight: bold; /* Negrita */
  padding: 15px;        /* Espaciado interno de 15px en todos los lados */
  margin: 10px 0;       /* Margen vertical de 10px, sin margen horizontal */
  background: #f4f1f2;  /* Fondo blanco ligeramente grisáceo */
  border-left: 5px solid #a64253;  /* Borde izquierdo rojo de 5px de ancho */
  border-radius: 8px;   /* Esquinas redondeadas */
}
